@import "../../../styles/settings.scss";

.root {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;

  .products {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #fff;
  }
}
