@import "../../../styles/settings.scss";

.root {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;

  .wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .products {
      display: flex;
      flex-direction: column;
      width: 100%;
      background: #fff;
    }
  }

  nav{
    padding-top: 30px;
    padding-bottom: 20px;
  }
}
